<html>
  <head>
    <title>Unigamer</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <div style='background-color: #e9e9ef63; text-align: center;'><br />
      <img alt='Email logo' src='cid:logo' height='42' width='42' /><br /><br />
      <div
        style='width: 50%;
              padding-top: 35px;
              padding-bottom: 35px;
              margin-left: auto;
              margin-right:auto;
              font-family: helvetica;
              background: white;
              padding-right: 55px;
              padding-left: 55px;
              text-align: center!important;'
      >
        <span>Welcome to
          <b>UNIGAMER</b>,<br />Please verify your E-Mail in order to login to
          your account.<br />
          <br />
          <div>
            <a
              style='display: inline-block;
              font-weight: 700;
              color: #212529;
              text-align: center;
              vertical-align: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              background-color: transparent;
              border: 1px solid transparent;
              padding: 0.6rem 0.75rem;
              font-size: 0.9rem;
              line-height: 1.5;
              border-radius: 0;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
              color: #256271 !important;
              background-color: #f8f9fa !important;
              border-color: #f8f9fa !important; 
              text-decoration: none;
                                '
              class='btn btn-dark'
              href='{{link}}'
            ><b>VERIFY</b></a>
          </div>
        </span><br />
        <p>If this verification was a mistake, or you need a hand with anything
          else, contact our support team at
          <b>info@unigamer.com</b>
          You can also visit our contact center.
        </p>
      </div>
      <br />

      <div
        style='width: 50%;
              padding-top: 35px;
              padding-bottom: 35px;
              margin-left: auto;
              margin-right:auto;
              font-family: helvetica;
              text-align: left;
              font-size: 12px;'
      >Please do not reply to this email. Emails sent to this address will not
        be answered.
        <br />
        Copyright © 2020 UNIGAMER, D4 The Clayton Block, Gasworks, Dublin 4,
        IRELAND. All rights reserved.</div>
    </div>
  </body>
</html>